<!---------------- ABOUT --------------------->
<section class="about" id="about">
    <div class="container about-container">
        <h2 class="about-title">About the App</h2>
        <div class="about-cards">
            <div class="about-card">
                <img srcset="./img/about/about-first.png 1x, ./img/about/about-first@2x.png 2x"
                    src="./img/about/about-first.png" alt="image game" width="240" height="240" class="about-img" />
                <p class="about-content">"Tropic Trouble Match 3 Builder" is a unique blend of match-3 puzzle gameplay
                    with
                    island building and adventure. Players are transported to a lush tropical island where
                    they solve match-3 puzzles to gather resources, which are then used to build and
                    upgrade various island structures.</p>
            </div>
            <div class="about-card about-card-second ">
                <img srcset="./img/about/about-second.png 1x, ./img/about/about-second@2x.png 2x"
                    src="./img/about/about-second.png" alt="image game" width="240" height="240" class="about-img" />
                <p class="about-content">Each level offers different objectives and
                    challenges, set against the backdrop of a vibrant paradise. With engaging gameplay,
                    beautiful scenery, and regular content updates, "Tropic Trouble" is an exciting game
                    for all fans of the puzzle and builder genres.</p>
            </div>
        </div>
    </div>
</section>