<section class="advantages-section">
  <div class="container">
    <h2 class="advantages-title">Advantages</h2>
    <ul class="advantages-list">
      <li class="advantages-list-item">
        <img
          class="advantages-list-item-img"
          srcset="
            ./img/advantages/image1-desk.png    1x,
            ./img/advantages/image1-desk@2x.png 2x
          "
          src="./img/advantages/image1-desk.png"
          alt="game-picture"
        />
        <p class="advantages-list-text">
          Enjoy the immersive and colorful visuals of a tropical paradise,
          making the gaming experience more enjoyable and relaxing.
        </p>
      </li>
      <li class="advantages-list-item">
        <p class="advantages-list-text">
          Apart from matching, the game includes aspects of building and
          designing your own island, offering a more creative and personalized
          gameplay experience.
        </p>
        <img
          class="advantages-list-item-img"
          srcset="
            ./img/advantages/image2-desk.png    1x,
            ./img/advantages/image2-desk@2x.png 2x
          "
          src="./img/advantages/image2-desk.png"
          alt="game-picture"
        />
      </li>
      <li class="advantages-list-item">
        <img
          class="advantages-list-item-img"
          srcset="
            ./img/advantages/image3-desk.png    1x,
            ./img/advantages/image3-desk@2x.png 2x
          "
          src="./img/advantages/image3-desk.png"
          alt="game-picture"
        />
        <p class="advantages-list-text">
          Engage with various challenging puzzles that require strategic
          thinking and clever moves to progress.
        </p>
      </li>
      <li class="advantages-list-item">
        <p class="advantages-list-text">
          The game frequently updates with new levels, features, and events,
          ensuring there's always something new and exciting for players.
        </p>
        <img
          class="advantages-list-item-img"
          srcset="
            ./img/advantages/image4-desk.png    1x,
            ./img/advantages/image4-desk@2x.png 2x
          "
          src="./img/advantages/image4-desk.png"
          alt="game-picture"
        />
      </li>
    </ul>
  </div>
</section>
