<!--------------- FAQ ----------------->
<section class="faq" id="faq">
    <div class="container container-faq">
        <div class="faq-card">
            <div class="faq-icon">
                <svg width="48" height="48" aria-label="icon sun">
                    <use href="./img/sprite.svg#icon-sun"></use>
                </svg>
            </div>
            <div class="faq-content">
                <p>Ready to escape to a puzzle-filled paradise?</p>
            </div>
        </div>
        <div class="faq-card">
            <div class="faq-icon">
                <svg width="48" height="48" aria-label="icon sun">
                    <use href="./img/sprite.svg#icon-sun"></use>
                </svg>
            </div>
            <div class="faq-content">
                <p>Download 'Tropic Trouble Match 3
                    Builder' now and start your tropical adventure!</p>
            </div>
        </div>
        <div class="faq-card">
            <div class="faq-icon">
                <svg width="48" height="48" aria-label="icon sun">
                    <use href="./img/sprite.svg#icon-sun"></use>
                </svg>
            </div>
            <div class="faq-content">
                <p>Solve challenging puzzles, build your
                    dream island, and uncover all the mysteries the tropics have to offer.</p>
            </div>
        </div>
        <div class="faq-card">
            <div class="faq-icon">
                <svg width="48" height="48" aria-label="icon sun">
                    <use href="./img/sprite.svg#icon-sun"></use>
                </svg>
            </div>
            <div class="faq-content">
                <p>Don’t miss out on the excitement – download today and let the island adventure begin!</p>
            </div>
        </div>
        <div class="faq-card">
            <div class="faq-icon">
                <svg width="48" height="48" aria-label="icon sun">
                    <use href="./img/sprite.svg#icon-sun"></use>
                </svg>
            </div>
            <div class="faq-content">
                <p>With vibrant
                    graphics and endless fun, 'Tropic Trouble' is your ideal getaway.</p>
            </div>
        </div>
        <!------------ GOOGLE BUTTON  ----------->
        <div class="faq-button google-play-button ">
            <a href="https://play.google.com/store/apps/details?id=air.com.qublix.tropictrouble" target="_blank"
                class="link-google-button">
                <img class="google-play-btn-img" src="./img/google-button/google.png" alt="google play button" srcset="
                            ./img/google-button/google.png 1x,
                            ./img/google-button/google@2x.png 2x
                          " />
                <p class="google-play-btn-content">
                    GET IT ON <span class="google-play-btn-content-strong">Google Play</span>
                </p>
            </a>

        </div>
    </div>
</section>