<section class="footer" id="footer">
    <div class="container footer-container">
        <div class="footer-logo">
            <img srcset="./img/logo/logo.png 1x, ./img/logo/logo@2x.png 2x" src="./img/logo/logo.png" alt="logo game"
                width="60" height="60" class="footer-logo" />
        </div>
        <div class="footer-text footer-box2">
            <nav>
                <ul class="footer-nav-list">
                    <li class="footer-nav-item">
                        <a href="./privacy.html">Privacy policy</a>
                    </li>
                    <li>
                        <a href="./conditions.html">Terms and conditions</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="footer-content footer-box1">
            All rights reserved
            <br class="footer-break">
            prostaradventure.com | 2024
        </div>
    </div>
</section>