<section class="gallery-section section" id="gallery">
  <div class="container gallery-wrap">
    <h2 class="gallery-section-title">Gallery</h2>
    <div class="gallery-swiper swiper">
      <ul class="gallery-swiper-wrapper swiper-wrapper">
        <li class="gallery-swiper-slide swiper-slide">
          <img src="./img/gallery/gallery-1@1x.png" alt="game slide 1" />
        </li>
        <li class="gallery-swiper-slide swiper-slide">
          <img src="./img/gallery/gallery-2@1x.png" alt="game slide 2" />
        </li>
        <li class="gallery-swiper-slide swiper-slide">
          <img src="./img/gallery/gallery-3@1x.png" alt="game slide 3" />
        </li>
        <li class="gallery-swiper-slide swiper-slide">
          <img src="./img/gallery/gallery-4@1x.png" alt="game slide 4" />
        </li>
      </ul>
      <div class="swiper-pagination gallery-swiper-pagination"></div>
    </div>
  </div>
</section>
