<section class="gallery-section section" id="gallery">
  <div class="container gallery-wrap">
    <h2 class="gallery-section-title">Gallery</h2>
    <div class="gallery-swiper swiper">
      <ul class="gallery-swiper-wrapper swiper-wrapper">
        <li class="gallery-swiper-slide swiper-slide">
          <img
            srcset="
              ./img/gallery/1x/156shots_so.png 1x,
              ./img/gallery/2x/156shots_so.png 2x
            "
            src="./img/gallery/1x/156shots_so.png"
            alt="game slide 1"
          />
        </li>
        <li class="gallery-swiper-slide swiper-slide">
          <img
            srcset="
              ./img/gallery/1x/156shots_so.png 1x,
              ./img/gallery/2x/156shots_so.png 2x
            "
            src="./img/gallery/1x/156shots_so.png"
            alt="game slide 2"
          />
        </li>
        <li class="gallery-swiper-slide swiper-slide">
          <img
            srcset="
              ./img/gallery/1x/243shots_so.png 1x,
              ./img/gallery/2x/243shots_so.png 2x
            "
            src="./img/gallery/1x/243shots_so.png"
            alt="game slide 3"
          />
        </li>
        <li class="gallery-swiper-slide swiper-slide">
          <img
            srcset="
              ./img/gallery/1x/422shots_so.png 1x,
              ./img/gallery/2x/422shots_so.png 2x
            "
            src="./img/gallery/1x/422shots_so.png"
            alt="game slide 4"
          />
        </li>
        <li class="gallery-swiper-slide swiper-slide">
          <img
            srcset="
              ./img/gallery/1x/431shots_so.png 1x,
              ./img/gallery/2x/431shots_so.png 2x
            "
            src="./img/gallery/1x/431shots_so.png"
            alt="game slide 5"
          />
        </li>
        <li class="gallery-swiper-slide swiper-slide">
          <img
            srcset="
              ./img/gallery/1x/524shots_so.png 1x,
              ./img/gallery/2x/524shots_so.png 2x
            "
            src="./img/gallery/1x/524shots_so.png"
            alt="game slide 6"
          />
        </li>
        <li class="gallery-swiper-slide swiper-slide">
          <img
            srcset="
              ./img/gallery/1x/736shots_so.png 1x,
              ./img/gallery/2x/736shots_so.png 2x
            "
            src="./img/gallery/1x/736shots_so.png"
            alt="game slide 7"
          />
        </li>
        <li class="gallery-swiper-slide swiper-slide">
          <img
            srcset="
              ./img/gallery/1x/757shots_so.png 1x,
              ./img/gallery/2x/757shots_so.png 2x
            "
            src="./img/gallery/1x/757shots_so.png"
            alt="game slide 8"
          />
        </li>
        <li class="gallery-swiper-slide swiper-slide">
          <img
            srcset="
              ./img/gallery/1x/763shots_so.png 1x,
              ./img/gallery/2x/763shots_so.png 2x
            "
            src="./img/gallery/1x/763shots_so.png"
            alt="game slide 9"
          />
        </li>
        <li class="gallery-swiper-slide swiper-slide">
          <img
            srcset="
              ./img/gallery/1x/771shots_so.png 1x,
              ./img/gallery/2x/771shots_so.png 2x
            "
            src="./img/gallery/1x/771shots_so.png"
            alt="game slide 10"
          />
        </li>
        <li class="gallery-swiper-slide swiper-slide">
          <img
            srcset="
              ./img/gallery/1x/902shots_so.png 1x,
              ./img/gallery/2x/902shots_so.png 2x
            "
            src="./img/gallery/1x/902shots_so.png"
            alt="game slide 11"
          />
        </li>
        <li class="gallery-swiper-slide swiper-slide">
          <img
            srcset="
              ./img/gallery/1x/907shots_so.png 1x,
              ./img/gallery/2x/907shots_so.png 2x
            "
            src="./img/gallery/1x/907shots_so.png"
            alt="game slide 12"
          />
        </li>
        <li class="gallery-swiper-slide swiper-slide">
          <img
            srcset="
              ./img/gallery/1x/929shots_so.png 1x,
              ./img/gallery/2x/929shots_so.png 2x
            "
            src="./img/gallery/1x/929shots_so.png"
            alt="game slide 13"
          />
        </li>
        <li class="gallery-swiper-slide swiper-slide">
          <img
            srcset="
              ./img/gallery/1x/975shots_so.png 1x,
              ./img/gallery/2x/975shots_so.png 2x
            "
            src="./img/gallery/1x/975shots_so.png"
            alt="game slide 14"
          />
        </li>
      </ul>
      <div class="swiper-pagination gallery-swiper-pagination"></div>
    </div>
  </div>
</section>
