<section class="header-section">
  <div class="container header-container">
    <a href="" class="header-logo-link">
      <img
        srcset="./img/logo/logo.png 1x, ./img/logo/logo@2x.png 2x"
        src="./img/logo/logo.png"
        alt="logo"
        width="60"
        height="60"
        class="header-logo-img"
      />
    </a>

    <nav class="header-nav">
      <ul class="header-nav-list">
        <li class="header-nav-list-item">
          <a href="" class="header-nav-list-link">Home</a>
        </li>
        <li class="header-nav-list-item">
          <a href="" class="header-nav-list-link">Gallery</a>
        </li>
        <li class="header-nav-list-item">
          <a href="" class="header-nav-list-link">Advantages</a>
        </li>
        <li class="header-nav-list-item">
          <a href="" class="header-nav-list-link">Reviews</a>
        </li>
        <li class="header-nav-list-item">
          <a href="" class="header-nav-list-link">About the App</a>
        </li>
      </ul>
    </nav>
    <button class="menu-open-btn">
      <svg class="nav-open-icon" width="24" height="24">
        <use href="./img/sprite.svg#icon-burger"></use>
      </svg>
    </button>
  </div>
</section>
