<section class="hero-section section" id="hero">
  <div class="container hero-wrap">
    <div class="hero-content-wrap">
      <h1 class="hero-title">Tropic Trouble Match 3 Builder</h1>
      <div class="hero-button google-play-button">
        <a
          href="https://play.google.com/store/apps/details?id=air.com.qublix.tropictrouble"
          target="_blank"
          class="link-google-button"
        >
          <img
            class="google-play-btn-img"
            src="./img/google-button/google.png"
            alt="google play button"
            srcset="
              ./img/google-button/google.png    1x,
              ./img/google-button/google@2x.png 2x
            "
          />
          <svg
            width="160"
            height="50"
            aria-label="google play"
            class="icon-google"
          >
            <use href="./img/sprite.svg#icon-google"></use>
          </svg>
        </a>
      </div>
    </div>
    <!-- <div class="image-wrap"> -->
    <!-- <img
        class="hero-mobile-img"
        srcset="
          ../img/gallery/gallery-3@1x.png 1x,
          ../img/gallery/gallery-3@1x.png 2x
        "
        src="../img/gallery/gallery-3@1x.png"
        alt="Game picture"
      />
      <img
        class="hero-desktop-img"
        src="../img/hero/Hero_image.png"
        alt="Game mane picture"
      /> -->
    <!-- </div> -->
  </div>
</section>
