<section class="section-mobile-menu">
  <div class="container mobile-menu-wrap">
    <button class="menu-close-btn">
      <svg class="nav-close-icon" width="24" height="24">
        <use href="./img/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <ul class="menu-nav-list">
      <li class="menu-nav-list-item">
        <a href="/" class="menu-nav-list-link">Home</a>
      </li>
      <li class="menu-nav-list-item">
        <a href="#gallery" class="menu-nav-list-link">Gallery</a>
      </li>
      <li class="menu-nav-list-item">
        <a href="#advantages" class="menu-nav-list-link">Advantages</a>
      </li>
      <li class="menu-nav-list-item">
        <a href="#reviews" class="menu-nav-list-link">Reviews</a>
      </li>
      <li class="menu-nav-list-item">
        <a href="#about" class="menu-nav-list-link">About the App</a>
      </li>
    </ul>
  </div>
</section>

<!-- // <section class="mob-menu">
//   <div class="container">
//     <div class="mob-menu-wrap">
//       <a href="./index.html" class="header-logo"><img src="./img/logo-mob.png" alt="logo" class="header-logo-img"
//           width="50" height="28" /></a>
//       <button type="button" class="close-mob-menu">
//         <svg class="mob-menu-close-icon" width="25" height="25">
//           <use href="./img/sprite.svg#icon-x"></use>
//         </svg>
//       </button>
//     </div>
//     <nav class="nav-mob-menu">
//       <ul class="mob-menu-list">
//         <li class="mob-menu-item"><a href="#home">Home</a></li> -->
