<!--------------- REVIEWS ----------------->

<section id='reviews' class="reviews section">
    <div class="container reviews-container">
        <div class="reviews-title">Reviews</div>
        <div class="reviews-swiper">
            <div class="swiper-wrapper swiper-reviews-list">
                <!------------------SLIDE 1------------------->
                <div class="swiper-slide reviews-slide-card">
                    <div class="reviews-description">
                        <h3 class="reviews-slide-title">BeachBrain</h3>
                        <p class="reviews-slide-content">Really enjoy the variety of levels and the island customization
                            options.</p>
                    </div>
                    <div class="reviews-item">
                        <img srcset="./img/reviews/first-client.png 1x, ./img/reviews/first-client@2x.png 2x"
                            src="./img/reviews/first-client.png" alt="author Beach Brain" width="56" height="56"
                            class="reviews-img" />
                    </div>
                </div>
                <!------------------SLIDE 2------------------->
                <div class="swiper-slide reviews-slide-card">
                    <div class="reviews-description">
                        <h3 class="reviews-slide-title">TropicThinker</h3>
                        <p class="reviews-slide-content">Engaging puzzles and a delightful setting. It's well-designed
                            and lots of fun!</p>
                    </div>
                    <div class="reviews-item">
                        <img srcset="./img/reviews/second-client.png 1x, ./img/reviews/second-client@2x.png 2x"
                            src="./img/reviews/second-client.png" alt="author Tropic Thinker" width="56" height="56"
                            class="reviews-img" />
                    </div>
                </div>
                <!------------------SLIDE 3------------------->
                <div class="swiper-slide reviews-slide-card">
                    <div class="reviews-description">
                        <h3 class="reviews-slide-title">SunnySolver</h3>
                        <p class="reviews-slide-content">Each update brings cool new features. I'm hooked on
                            expanding my island!</p>
                    </div>
                    <div class="reviews-item">
                        <img srcset="./img/reviews/third-client.png 1x, ./img/reviews/third-client@2x.png 2x"
                            src="./img/reviews/third-client.png" alt="author Sunny Solver" width="56" height="56"
                            class="reviews-img" />
                    </div>
                </div>
                <!------------------SLIDE 4------------------->
                <div class="swiper-slide reviews-slide-card">
                    <div class="reviews-description">
                        <h3 class="reviews-slide-title">PuzzleParadise</h3>
                        <p class="reviews-slide-content">Beautiful graphics and fun gameplay. It's my go-to game for
                            relaxation.</p>
                    </div>
                    <div class="reviews-item">
                        <img srcset="./img/reviews/fourth-client.png 1x, ./img/reviews/fourth-client@2x.png 2x"
                            src="./img/reviews/fourth-client.png" alt="author Puzzle Paradise" width="56" height="56"
                            class="reviews-img" />
                    </div>
                </div>
                <!------------------SLIDE 5------------------->
                <div class="swiper-slide reviews-slide-card">
                    <div class="reviews-description">
                        <h3 class="reviews-slide-title">MatchMaster</h3>
                        <p class="reviews-slide-content">The levels are challenging and rewarding. Great match-3
                            mechanics!</p>
                    </div>
                    <div class="reviews-item">
                        <img srcset="./img/reviews/fifth-client.png 1x, ./img/reviews/fifth-client@2x.png 2x"
                            src="./img/reviews/fifth-client.png" alt="author Match Master" width="56" height="56"
                            class="reviews-img" />
                    </div>
                </div>
                <!------------------SLIDE 6------------------->
                <div class="swiper-slide reviews-slide-card">
                    <div class="reviews-description">
                        <h3 class="reviews-slide-title">IslandDreamer</h3>
                        <p class="reviews-slide-content">Love the tropical vibe! Building my island is as fun as solving
                            the puzzles.</p>
                    </div>
                    <div class="reviews-item">
                        <img srcset="./img/reviews/sixth-client.png 1x, ./img/reviews/sixth-client@2x.png 2x"
                            src="./img/reviews/sixth-client.png" alt="author Island Dreamer" width="56" height="56"
                            class="reviews-img" />
                    </div>
                </div>
                <!------------------SLIDE 7------------------->
                <div class="swiper-slide reviews-slide-card">
                    <div class="reviews-description">
                        <h3 class="reviews-slide-title">PuzzleParadise</h3>
                        <p class="reviews-slide-content">Beautiful graphics and fun gameplay. It's my go-to game for
                            relaxation.</p>
                    </div>
                    <div class="reviews-item">
                        <img srcset="./img/reviews/fourth-client.png 1x, ./img/reviews/fourth-client@2x.png 2x"
                            src="./img/reviews/fourth-client.png" alt="author Puzzle Paradise" width="56" height="56"
                            class="reviews-img" />
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>