<!--------------- REVIEWS ----------------->

<section id='reviews' class="reviews section">
    <div class="container reviews-container">
        <div class="reviews-title">Reviews</div>
        <div class="reviews-swiper">
            <div class="swiper-wrapper swiper-reviews-list">
                <!------------------SLIDE 1------------------->
                <div class="swiper-slide reviews-slide-card">
                    <div class="reviews-description">
                        <h3 class="reviews-slide-title">BeachBrain</h3>
                        <p class="reviews-slide-content">Really enjoy the variety of levels and the island customization
                            options.</p>
                    </div>
                    <div class="reviews-item">
                        <img srcset="./img/reviews/first-client.png 1x, ./img/reviews/first-client@2x.png 2x"
                            src="./img/reviews/first-client.png" alt="author Beach Brain" width="56" height="56"
                            class="reviews-img" />

                        <!-- <img srcset="./img/reviews/card.png 1x, ./img/reviews/card@2x.png 2x"
                            src="./img/reviews/card.png" alt="reviews card" width="320" height="261"
                            class="reviews-card" /> -->

                    </div>

                </div>
                <!------------------SLIDE 2------------------->

                <!------------------SLIDE 3------------------->

                <!------------------SLIDE 4------------------->

                <!------------------SLIDE 5------------------->

                <!------------------SLIDE 6------------------->

                <!------------------SLIDE 7------------------->

            </div>
        </div>

    </div>
</section>