.gallery-section {
  padding: 48px 0;
  background: linear-gradient(
    180deg,
    #80c5e4 0.67%,
    #cbf5fe 20%,
    #bcf0fe 40%,
    #b2edfe 60%,
    #83dcfe 80%,
    #65e2fc 100%
  );

  @include media(desktop) {
    padding-top: 64px;
    padding-left: 52px;
    padding-right: 52px;
    background: linear-gradient(
      180deg,
      #c8c6ba 0%,
      #99d1e7 5%,
      #cbf5fe 20%,
      #bcf0fe 40%,
      #b2edfe 60%,
      #83dcfe 80%,
      #65e2fc 100%
    );
  }
}

.gallery-wrap {
  padding: 0 16px;
  @include media(desktop) {
    padding: 0 100px;
  }
}

.gallery-swiper-container {
  position: relative;
  @include media(desktop) {
    padding-left: 60px;
    padding-right: 48px;
  }
}

.gallery-section-title {
  margin-bottom: 24px;
  font-family: 'Madimi One', sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 1.6;
  text-align: center;
  color: #b52710;
  text-shadow: 0 0 9px #ecfbfd;
  @include media(desktop) {
    margin-bottom: 48px;
    font-size: 48px;
    line-height: 1;
  }
}

// gallery swiper

.gallery-swiper {
  width: 100%;
  overflow: hidden;
}

.gallery-swiper-wrapper {
  display: flex;
  align-items: center;
}

.gallery-swiper-slide {
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.gallery-swiper-slide img {
  display: block;
  width: 288px;
  height: auto;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.gallery-swiper .swiper-slide-active {
  transform: scale(1.1);
}

.gallery-swiper .swiper-slide-prev,
.gallery-swiper .swiper-slide-next {
  opacity: 0.9;
  transform: scale(0.9);
}

// pagination bullets
.swiper-pagination {
  position: static !important;
  margin-top: 40px !important;
}
.swiper-pagination .swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  background-color: #fffdf9 !important;
}

.swiper-pagination .swiper-pagination-bullet-active {
  background-color: #fffdf9 !important;
}
