@import './header.scss';
@import './hero.scss';
@import './gallery.scss';
@import './advantage.scss';
@import './reviews.scss';
@import './about.scss';
@import './faq.scss';
@import './footer.scss';
@import './mob-menu.scss';
@import './privacy.scss';
@import './conditions.scss';

:root {
  font-family: Mali, Madimi One, Wendy One, Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;

  color: #17161b;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@font-face {
  font-family: 'Madimi One';
  src: url('../fonts/MadimiOne-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mali';
  src: url('../fonts/Mali-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mali';
  src: url('../fonts/Mali-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Wendy One';
  src: url('../fonts/WendyOne-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.container {
  max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
}

@include media(desktop) {
  .container {
    max-width: 1200px;
    padding-left: 16px;
    padding-right: 16px;
    margin: 0 auto;
  }
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
}

html {
  scroll-padding-top: 40px;
}

@include media(desktop) {
  html {
    scroll-padding-top: 80px;
  }
}
